* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 10px;
}

p {
  margin: 0;
}

a {
  display: block;
  font-size: 40px;
}

.label {
  font-size: 30px;
}

.section {
  /* height: 300px; */
  margin-left: auto;
  margin-right: auto;
  background-color: beige;
  border: 2px solid black;
}

.container {
  /* height: 200px; */
  margin-left: auto;
  margin-right: auto;
  outline: auto;
  background-color: burlywood;
  border: 15px solid olive;
}

/* ==================================== */
.image {
  margin-top: 10px;
  width: 100%;
  max-width: 450px;
}

.hero__title {
  width: auto;
  /* max-width: 360px; */
  /* width: 360px; */
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;

  text-align: center;
}

/* ====================================== */

.section {
  /* min-width: 480px; */
  max-width: 1600px;
}

/* ======================================= */

.container {
  width: 100vw;
  max-width: 480px;
}

@media screen and (max-width: 479px) {
  a,
  .label,
  .hero__title {
    /* 30px * (100vw/480px) */
    font-size: 6.25vw;
  }
}

@media (min-width: 768px) {
  .container {
    /* width: auto; */
    max-width: 768px;
    /* width: 768px; */
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    /* width: 1200px; */
  }
}
